.searchMain{
    position: relative;
}
.searchInput{
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 12px 20px 12px 40px;
    border-radius: 8px;
    max-width: 400px;
    min-width: 200px;
    font-size: 16px;

    &:focus{
        border: 1px solid rgb(0, 0, 0, 0.2);
    }
}
.searchIcon{
    position: absolute;
    top: 24px;
    transform: translateY(-50%);
    left: 12px;
    opacity: 0.3;
}
.deleteIcon{
    position: absolute;
    top: 24px;
    transform: translateY(-50%);
    right: 12px;
    opacity: 0.3;
    cursor: pointer;
}